

:root {
    --title-font: "Poppins", sans-serif;
    --body-font: "Lato", sans-serif;
    --bgc: #F2F5F9;
    --par-color: #111729;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.container {
    max-width: 400px;
    /* border: 2px solid red; */
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.content-image {
    max-width: 400px;;
}
.content-image img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.content {
    padding: 0 2em;
    font-family: var(--title-font);
    margin-top: 1em;
    margin-bottom: 2em;
}
.content h1 {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}
.content p {
    color: var(--par-color);
    font-weight: 400;
    font-size: 0.9rem;
}

hr {
    margin-bottom: 1em;
    border-color: white;
}
.profile {
    display: flex;
    align-items: center;
    padding: 0 2em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.profile img {
    width: 50px;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
}

.profile p {
    font-weight: bold;
    font-family: var(--body-font);
    font-size: 0.8rem;
}
.profile span {
    font-weight: 400;
    font-size: 0.7rem;
}

